
body {
    background-color:darkolivegreen;
    color: white;
    margin: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vw;
    margin: 20px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}


/* ------------- slots machine ------------- */

#slot-machine {
    border: 7px solid white;
    margin: 0 auto;   
    width: 700px;
}

.slot-frame {
    display: flex;
}

.slot-frame ul {
    list-style: none;
    padding: 10px;
}

.single-reel img{
    width: 120px;
    height: auto;
}

#scores {
    display:flex;
    justify-content: space-between;
    width: 700px;
    margin: auto;
    font-size: 1.6em;
}

#scores p {
    display: flex;
    align-items: center;
}

#scores p span {
    font-size: 2em;
    color: yellow;
    margin-left: 20px;
    font-weight: bold;
}

#turn {
    text-align: center;
    font-size: 1.6em;
}



/* ------------- buttons ------------- */

#spin {
    background-color: orangered;
    padding: 25px 45px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 10px;
    margin: 15px;
}

#spin:hover {
    background-color: blue;
    color: white;
}

#restart {
    background-color: yellow;
    border-radius: 10px;
    padding: 25px 45px;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

#restart:hover {
    background-color:blue;
    color: white;
}

#instructions {
    background-color: yellow;
    border-radius: 10px;
    padding: 15px 15px;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

#instructions:hover {
    background-color: blue;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 5%;
    padding: 75px 85px;
    text-align: center;
}

#instructions_text {
    display: none;
}


